.env
venv/
__pycache__/
*.db
.DS_Store
data/creditcard.csv
data/processed/
notebooks/.ipynb_checkpoints/
artifacts/ae_scaler.pkl
artifacts/shap_explainer.pkl
frontend/node_modules/
frontend/dist/
*.ipynb_checkpoints
